:host {
  --mat-toolbar-standard-height: 100px;

  .toolbar-actions {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .logo {
    height: inherit;
    padding: 10px;
    box-sizing: border-box;

    img {
      height: 100%;
    }
  }

  .example-spacer {
    flex: 1 1 auto;
  }
}
