<mat-card class="login-card">
  <mat-card-title>Enter your phone number to get started</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submitPhone()">
      <p>
        <mat-form-field floatLabel="always">
          <mat-label>Phone Number</mat-label>
          <span matTextPrefix>+91&nbsp;</span>
          <input type="tel" matInput placeholder="Enter Phone Number" formControlName="phoneNumber">
          @if(showOtpForm) {
          <button mat-icon-button matSuffix (click)="editNumber()">
            <mat-icon>edit</mat-icon>
          </button>
          }
        </mat-form-field>
      </p>

      @if(!showOtpForm) {
      <div class="button">
        <button type="submit" mat-button [disabled]="!form.valid">Send OTP</button>
      </div>
      }
    </form>

    @if(showOtpForm) {
    <form [formGroup]="form2" (ngSubmit)="submitOtp()">
      <p>
        <mat-form-field floatLabel="always">
          <mat-label>OTP</mat-label>
          <input type="tel" matInput placeholder="Your test OPT is 123456" formControlName="otp">
        </mat-form-field>
      </p>

      <div class="button">
        <button type="submit" mat-button [disabled]="!form2.valid">Verify</button>
      </div>
    </form>
    }
  </mat-card-content>
</mat-card>