.cart-item {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;

  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;

  .image {
    img {
      width: 150px;
      height: 100px;
    }
  }

  .title {
    flex: 1;

    .description {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .action {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    border-color: rgb(232, 232, 232);
    box-shadow: rgba(28, 28, 28, 0.12) 0px 0.4rem 1.8rem;
  }
}